-*
bugprone-*
misc-*
modernize-*
performance-*
cert-err34-c
cert-pos47-c
cert-mem57-cpp
cert-err61-cpp
cert-dcl21-cpp
cert-msc50-cpp
cert-env33-c
cert-oop58-cpp
cert-dcl59-cpp
cert-msc51-cpp
cert-err58-cpp
cert-flp37-c
cppcoreguidelines-*
-cppcoreguidelines-pro-type-vararg
-cppcoreguidelines-macro-usage
-cppcoreguidelines-pro-bounds-pointer-arithmetic
-cppcoreguidelines-pro-type-reinterpret-cast
-cppcoreguidelines-owning-memory
-cppcoreguidelines-pro-type-union-access
-cppcoreguidelines-avoid-magic-numbers
google-readability-casting
google-global-names-in-headers
google-runtime-int
google-runtime-operator
google-explicit-constructor
hicpp-*
-hicpp-vararg
readability-*
-readability-named-parameter
-readability-identifier-length
-readability-magic-numbers
-misc-non-private-member-variables-in-classes
-cppcoreguidelines-non-private-member-variables-in-classes
-bugprone-easily-swappable-parameters